html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

:focus {
  outline: 0;
}

body {
  margin: 0;
  color: #244751;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fdfd72;
}

.container {
  width: 450px;
  margin: auto;
  padding-top: 120px;
  background-color: #fdfd72;
}

#login-popup, #register-popup {
  display: none;
}

#register-popup, #login-popup {
  width: 280px;
  background-color: #d9edf7;
  border: solid;
  border-radius: 2em;
  padding: 2em;
}



#register-popup h2, #login-popup h2 {
  text-align: center;
  /* text-decoration: underline; */
}

#register-popup label, #login-popup label {
  font-size: 1.2em;
  font-weight: bold;
}

#register-popup input, #login-popup input {
  float:right;
  margin-bottom: 0.5em;
}

#login-button, #register-button {
  height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  border-style: ridge;
}

.hidden {
  display:none;
}
