#tweet-container {
  margin: 0 2em;
}

#tweet-container article {
  margin-bottom: 20px;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  border-color: #565454;
}

#tweet-container header {
  background-color: #eee;
  padding: 5px;
  height: 50px;
  border-radius: inherit;
}

#tweet-container .user-avatar {border-radius: 3px;height: 40px;}

#tweet-container .user-name {position: absolute;font-size: 1.6em;padding-left: 5px;line-height: 40px;}

#tweet-container .user-handle {
  float: right;
  font-size: 1.2em;
  line-height: 40px;
  padding-right: 5px;
  opacity: 0.7;
}

#tweet-container .content {
  height: 100px;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  overflow-wrap: break-word;
  border-bottom: solid;
  border-bottom-color: #eee;
}

#tweet-container .text {
}

#tweet-container footer {background-color: white;height: 34px;border-radius: inherit;}

#tweet-container .created_at {
  float: left;
  line-height: 34px;
  padding-left: 3px;
}

#tweet-container article:hover .flag {
  opacity: 0.6;
}

#tweet-container article:hover .retweet {
  opacity: 0.6;
}

#tweet-container article:hover .like {
  opacity: 0.6;
}

#tweet-container .like {
  height: 30px;
  float: right;
  padding: 2px;
  margin: 2px;
  opacity: 0;
}

#tweet-container .flag {
  height: 30px;
  float: right;
  padding: 2px;
  margin: 2px;
  opacity: 0;
}

#tweet-container .retweet {
  height: 30px;
  float: right;
  padding: 4px;
  margin: 2px;
  opacity: 0;
}

